
.dialogItem {
  width: 100%;
  padding-left: 15px;
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  color: white;
}

.dialogItem:hover {
  background-color: #39394B;
  cursor: pointer;
}

.dialogItem:active {
  background-color: #45455C; 
}

.active .dialogItem {
  background-color: #565673;
}
.active .dialogItem:active {
  background-color: #66668a;
}


.dialogItem:not(:first-child):before {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  content: '';
  top: 0;
  left: 0;
}