a {
  text-decoration: none;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


main {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  min-height: calc(100vh - 80px)
}